Esquema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Karate" type="ListaKarate"/> <!-- Name hace referencia a XML y Type al mismo Schema -->
    <!-- PREGUNTAR LO DE LOS BOOLEANS Y ACABAR CSS -->
    <xsd:complexType name="ListaKarate">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Aspirante" type="ListaAspirante"/>
                    <xsd:element name="Meritos" type="ListaMeritos"/>
                    <xsd:element name="Tribunal" type="ListaTribunal"/>
                    <xsd:element name="Examen" type="ListaExamen"/>
                    <xsd:element name="Resultados" type="ListaResultados"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ListaAspirante">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Id_Aspirante" type="tipoID"/>
                    <xsd:element name="Nombres" type="xsd:string"/>
                    <xsd:element name="Apellidos" type="xsd:string"/>
                    <xsd:element name="DNI" type="tipoDNI"/>
                    <xsd:element name="Telefono" type="tipoTLF"/>
                    <xsd:element name="Direccion" type="xsd:string"/>
                    <xsd:element name="Fecha_Nacimiento" type="xsd:date"/>
                    <xsd:element name="DAN" type="tipoDAN"/>
                    <xsd:element name="Cinturon" type="tipoCint"/>
                    <xsd:element name="Fecha_Ingreso_DAN" type="xsd:date"/>
                    <xsd:element name="FotoAspirante" type="xsd:string"/>
                    <xsd:element name="Fecha_Anterior_DAN" type="xsd:date"/>
                    <xsd:element name="FotoDNI" type="xsd:string"/>
                    <xsd:element name="FotoCarnetGrados" type="xsd:string"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoID">
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoDNI">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{7}[A-Z]{1}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoTLF">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{9}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoDAN">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-4]{1}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoCint">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="Negro"/>
            <xsd:pattern value="Marron"/>
            <xsd:pattern value="Violeta"/>
            <xsd:pattern value="Verde"/>
            <xsd:pattern value="Azul"/>
            <xsd:pattern value="Naranja"/>
            <xsd:pattern value="Amarillo"/>
            <xsd:pattern value="Blanco"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ListaMeritos">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Id_Aspirante" type="tipoID"/>
                    <xsd:element name="Edad_Aspirante" type="tipoEdad"/>
                    <xsd:element name="LicenciaActualizada" type="xsd:boolean"/>
                    <xsd:element name="TrabajoEscrito" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoEdad">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ListaTribunal">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Num_Jueces" type="xsd:integer"/>
                    <xsd:element name="Calificacion_final" type="tipoCal"/>
                    <xsd:element name="Jueces" type="ListaJueces" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoCal">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ListaJueces">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Id_Jueces" type="tipoID"/>
                    <xsd:element name="Nombres" type="xsd:string"/>
                    <xsd:element name="Apellidos" type="xsd:string"/>
                     <xsd:element name="Diploma" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ListaExamen">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:choice>
                    <xsd:element name="CinturonNegro" type="ListaCinturon"/>
                    <xsd:element name="Hasta3DAN" type="ListaH3DAN"/>
                    <xsd:element name="CinturonNegro1DAN" type="Lista1DAN"/>
                    <xsd:element name="CinturonNegro2DAN" type="Lista2DAN"/>
                    <xsd:element name="CinturonNegro3DAN" type="Lista3DAN"/>
                    <xsd:element name="CinturonNegro4DAN" type="Lista4DAN"/>
                    <xsd:element name="CinturonNegro5AdelanteDAN" type="Lista5AdelanteDAN"/>
                </xsd:choice>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ListaCinturon">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="TecnicaDirecta" type="xsd:boolean"/>
                    <xsd:element name="TecnicaCirculares" type="xsd:boolean"/>
                    <xsd:element name="TecnicaPierna" type="xsd:boolean"/>
                    <xsd:element name="Teoria" type="xsd:boolean"/>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="Kumite" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ListaH3DAN">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Tecnicas" type="xsd:boolean"/>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="Kumite" type="xsd:boolean"/>
                    <xsd:element name="Campeonatos" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Lista1DAN">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="TecnicaDefensa" type="xsd:boolean"/>
                    <xsd:element name="TecnicaPierna" type="xsd:boolean"/>
                    <xsd:element name="TecnicaDirectaIndirecta" type="xsd:boolean"/>
                    <xsd:element name="TecnicaCombinada" type="xsd:boolean"/>
                    <xsd:element name="Teoria" type="xsd:boolean"/>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="Kumite" type="xsd:boolean"/>
                    <xsd:element name="AplicacionTecnica" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Lista2DAN">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="TecnicaBase" type="xsd:boolean"/>
                    <xsd:element name="TecnicaDirecta" type="xsd:boolean"/>
                    <xsd:element name="TecnicaIndirectaCircular" type="xsd:boolean"/>
                    <xsd:element name="TecnicaPierna" type="xsd:boolean"/>
                    <xsd:element name="TecnicaCombinada" type="xsd:boolean"/>
                    <xsd:element name="Teoria" type="xsd:boolean"/>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="Kumite" type="xsd:boolean"/>
                    <xsd:element name="Campeonatos" type="xsd:boolean"/>
                    <xsd:element name="Tecnicas" type="xsd:boolean"/>
                    <xsd:element name="Aplicacion" type="xsd:boolean"/>
                    <xsd:element name="AplicacionTecnica" type="xsd:boolean"/>
                    <xsd:element name="DemoLibre" type="xsd:boolean"/>                    
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Lista3DAN">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="VariacionesTecnica" type="xsd:boolean"/>
                    <xsd:element name="Kumite" type="xsd:boolean"/>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="AplicacionTecnica" type="xsd:boolean"/>
                    <xsd:element name="Teoria" type="xsd:boolean"/>
                    <xsd:element name="Campeonatos" type="xsd:boolean"/>
                    <xsd:element name="Tecnicas" type="xsd:boolean"/>
                    <xsd:element name="Aplicacion" type="xsd:boolean"/>
                    <xsd:element name="AplicacionTecnica" type="xsd:boolean"/>
                    <xsd:element name="DemoLibre" type="xsd:boolean"/>                         
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="Lista4DAN">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Kumite" type="xsd:boolean"/>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="Coloquio" type="xsd:boolean"/>
                    <xsd:element name="AplicacionTecnica" type="xsd:boolean"/>
                    <xsd:element name="DemoLibre" type="xsd:boolean"/>                             
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="Lista5AdelanteDAN">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Kata" type="xsd:boolean"/>
                    <xsd:element name="Coloquio" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="ListaResultados">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:choice>
                    <xsd:element name="SuspendeExamen" type="tipoSuspende"/>
                    <xsd:element name="ApruebaExamen" type="tipoAprueba"/>
                </xsd:choice>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoSuspende">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="idAspirante" type="xsd:boolean"/>
                    <xsd:element name="SuspendeParcial" type="xsd:boolean"/>
                    <xsd:element name="SuspendeTotal" type="xsd:boolean"/>
                    <xsd:element name="SuspendeSegundaFase" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoAprueba">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="SiguienteCurso" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>

<!-- PLANTILLAS EJEMPLO PARA RAPIDO ACCESO -->

<!--<xsd:simpleType name="rango">
    <xsd:restriction base="xsd:short">
        <xsd:minInclusive value="-30"/>
        <xsd:maxInclusive value="30"/>
    </xsd:restriction>
</xsd:simpleType> 

<xsd:simpleType name="codigo">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="[A-Z]{3}[0-9][A-Z]{2}"/>
    </xsd:restriction>
</xsd:simpleType> 

<xsd:simpleType name="boolean">
    <xsd:restriction base="xsd:boolean">
        <xsd:pattern value="false"/>
        <xsd:pattern value="true"/>
    </xsd:restriction>
</xsd:simpleType>-->